In [21]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [4]:
# Data Structures of Pandas
# 1) Series
# 2) Dataframe

In [6]:
# Series: one dimentional array like object containing a sequences of value.
obj = pd.Series([6,2,75,5])
obj

0     6
1     2
2    75
3     5
dtype: int64

In [7]:
obj.values

array([ 6,  2, 75,  5])

In [8]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
# labeling the index
obj2 = pd.Series([1,2,3,4], index=['a', 'b', 'c', 'd'])
obj2

a    1
b    2
c    3
d    4
dtype: int64

In [10]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [11]:
obj2['c']

3

In [15]:
#passing list of indices
obj2[['a', 'b', 'd']]

a    1
b    2
d    4
dtype: int64

In [18]:
obj3 = pd.Series([-4,-3,0,4,6])
obj3[obj3 > 0]

3    4
4    6
dtype: int64

In [19]:
obj3 * 3

0   -12
1    -9
2     0
3    12
4    18
dtype: int64

In [22]:
np.exp(obj3)

0      0.018316
1      0.049787
2      1.000000
3     54.598150
4    403.428793
dtype: float64

In [23]:
'b' in obj2

True

In [24]:
'e' in obj2

False

In [25]:
# We can also create pandas series from python dictionary
sdata = {'Texas': 1000, 'Utah': 2000, 'NewYork': 5000, 'California': 10000}
sData = pd.Series(sdata)
sData

Texas          1000
Utah           2000
NewYork        5000
California    10000
dtype: int64

In [27]:
# consider i have to pass index in sorted order
index = ['California', 'NewYork', 'Texas', 'Washington']
sData = pd.Series(sdata, index=index)
sData

California    10000.0
NewYork        5000.0
Texas          1000.0
Washington        NaN
dtype: float64

In [28]:
# To detect missing data
pd.isnull(sData)

California    False
NewYork       False
Texas         False
Washington     True
dtype: bool

In [29]:
pd.notnull(sData)

California     True
NewYork        True
Texas          True
Washington    False
dtype: bool

In [30]:
#instance methods
sData.isnull()

California    False
NewYork       False
Texas         False
Washington     True
dtype: bool

In [32]:
sData + sData

California    20000.0
NewYork       10000.0
Texas          2000.0
Washington        NaN
dtype: float64

In [33]:
# some attributes of series
sData.name = 'Population'
sData.index.name = 'State'
sData

State
California    10000.0
NewYork        5000.0
Texas          1000.0
Washington        NaN
Name: Population, dtype: float64

In [35]:
obj.index = ['A', 'B', 'C', 'D']
obj

A     6
B     2
C    75
D     5
dtype: int64